<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DayPilot" version="5.0.303" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="EWS-Api-2.1" version="1.0.0" targetFramework="net45" />
  <package id="Independentsoft.Exchange" version="3.0.400" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net45" />
  <package id="Microsoft.Identity.Model.Extensions" version="2.0.1459.0" targetFramework="net45" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Cookies" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="2.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="SQLite" version="3.13.0" targetFramework="net45" />
  <package id="sqlite-net" version="1.0.8" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.104.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.104.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core.MSIL" version="1.0.104.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.104.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.104.0" targetFramework="net45" />
  <package id="WifRequestValidator" version="1.0.1" targetFramework="net45" />
</packages>